[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CopulaDTA"]
	path = CopulaDTA
	url = https://github.com/vnyaga/copuladta
	shallow = true
	registered = true
